html {
    scroll-behavior: smooth;
}

main {
    height: 200vh;
}

.scroll-to-top {
    opacity: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #a0a0a0;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    transition: all .7s;
    border-radius: 50%;
}
.scroll-to-top span {
    opacity: 1;
}

.scroll-to-top:hover {
    background-color: #6a6a6a;
}
