html {
    scroll-behavior: smooth;
    transition-duration: 3s;
}

main {
    height: 200vh;
}

.scroll-to-top {
    opacity: 0;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    transition: all .7s;
}
